@tailwind base;
@tailwind components;
@tailwind utilities;

/* home 2 start  */

.third-card{
   transition: all 0.3s ease-in-out;
}
.third-card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFEB;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.third-card:hover::after {
    opacity: 0.8;
    
}
.thirditem{
    display: none;
}
.third-card:hover .thirditem{
    display: flex;
}

/* home 2 end */